%table.table.table-striped
  %thead
    %tr
      %th 
      %th 时间
      %th 题目
      %th 正确答案
      %th 答案解析
      %th 类型
      %th 操作
  %tbody
    %tr
      %td
        %input{type: 'checkbox'}
      %td 2015-10-20 15:33
      %td 0既不是奇数也不是偶数
      %td.text-success 错
      %td 0是偶数
      %td 判断题
      %th
        %a 重做
        %a 删除
