.test-paper-filler{
  .section-list{
    .section{
      .question{
        padding: 10px;
        &.answered{
          background-color: #E0FEFE;
        }

        &.answer_is_wrong{
          background-color: #FFE6E6;
        }

        .result{
          padding-left: 10px;
        }

        .choices{
          padding: 10px;
        }
      }
    }
  }
}
