:ruby
  bread_data = [
    [ :net, @net.name, url_for([:old, :manage, @net]) ],
  ]

.page-main.col-pad-10.col-pad-offset-1
  = bread bread_data do
    .files.piece.piece-shelf
      .piece.piece-box
        %h4.title 查看所有文件
        .piece.piece-ops
          .op.new
            %a{:href => url_for([:new, :old, :manage, @net, :file]), :data => {:toggle => ['open', 'close']}}
              %i.fa.fa-upload
              %span= I18n.t('views.new.file')

        - paged_files = @virtual_files.page(params[:page]).per(24)
        = render_cell :file, :grid, paged_files
        = paginate paged_files
