.page-my-notes
  = simple_navtabs(:bank_my_notes)

  .notes
    .note{data: {note_id: '1'}}
      .updated_at.text-muted 2015-10-16 22:05

      .content
        金融摩擦论文参考：
        %p

        %ol
          %li Pablo Kurlat
          %li Mark Gertler & Nobuhiro Kiyotaki
          %li Marcus Brunnermeier & Yuily Sannikov
          %li Arvind Krishnamurthy & Zhiguo He

      .bottom
        .from.pull-left
          %a{href: 'javascript:;'} 宏观经济学：4-4 经济周期

        .actions.pull-right
          %a.text-muted{href: 'javascript:;'} 
            %span.glyphicon.glyphicon-pencil
            编辑

          %a.text-muted{href: 'javascript:;'}
            %span.glyphicon.glyphicon-trash
            删除

        .clearfix

    .note{data: {note_id: '2'}}
      .updated_at.text-muted 2015-10-16 22:05

      .content
        权利和义务的关系：法律地位平等，权利与义务的内容是对等或不对等的
        %br
        权利与义务的保护：法律上的权利和义务，都受国家相关法律的保护
        %br
        权利和义务：权利和义务没有无义务的权利，也没有无权利的义务，在大多数民商法律关系中，各方主体都既享有权利，又承担义务，也就是说，任何一方既是权利主体，也是义务主体

      .bottom
        .from.pull-left
          %a{href: 'javascript:;'} 宏观经济学：4-4 经济周期

        .actions.pull-right
          %a.text-muted{href: 'javascript:;'} 
            %span.glyphicon.glyphicon-pencil
            编辑

          %a.text-muted{href: 'javascript:;'}
            %span.glyphicon.glyphicon-trash
            删除

        .clearfix
