.page-main.col-pad-10.col-pad-offset-1
  .assign-list.piece.piece-shelf.piece-paper
    .header.piece.piece-box
      %h2 指定前置知识点
      .current
        %span 当前知识点：
        %a{:href => url_for([:old, :manage, @point]), :data => {:toggle => ['open', 'close']}}= @point.name

    / @point.descendants 是不能指定的

    .select-from.piece.piece-box
      %h3 从下列知识点中选择：

      = simple_form_for [:do_assign, :old, :manage, @point] do |f|
        .points
          - target_points = @net.points - [@point] - @point.descendants

          - target_points.each do |p|
            .point
              %input{:name => 'parent_ids[]',:type => :checkbox, :value => p.id, :checked => @point.parent_ids.include?(p.id)}
              .name= p.name

        %button.btn.btn-rounded.btn-bdb-fresh
          %span 指定以上知识点
