= quick_filter_bar do |b|
  - b.group :type, text: '类型' do |g|
    - g.add 'a', text: '单选题'
    - g.add 'b', text: '多选题'
    - g.add 'd', text: '填空题'
    - g.add 'e', text: '连线题'
    - g.add 'f', text: '判断题'
    - g.add 'c', text: '论述题'

  - b.group :created_at, text: '时间' do |g|
    - g.add 'a', text: '一周内'
    - g.add 'b', text: '一月内'
    - g.add 'c', text: '三月内'

%table.table.table-striped
  %thead
    %tr
      %th 
      %th 时间
      %th 题目
      %th 正确答案
      %th 答案解析
      %th 类型
      %th 操作
  %tbody
    %tr
      %td
        %input{type: 'checkbox'}
      %td 2015-10-20 15:33
      %td 0既不是奇数也不是偶数
      %td.text-success 错
      %td 0是偶数
      %td 判断题
      %th
        %a{href: 'javascript:;', data: {confirm: '你确定吗？'}} 取消收藏

    %tr
      %td
        %input{type: 'checkbox'}
      %td 2015-10-18 02:37
      %td
        树干为什么常常刷成白色？
        A. 防火
        B. 灭菌杀虫
        C. 防牲畜啃食
        D. 保暖
      %td.text-success
        B. 灭菌杀虫
      %td
        进入冬季后，对果树树干刷上涂白剂，可用效地防御冻害，防止病虫在树干上越冬，并杀死在树干上越冬的病虫害。
      %td 单选题
      %th
        %a{href: 'javascript:;', data: {confirm: '你确定吗？'}} 取消收藏
