.page-test-paper-result-new{
  .sections{
    ul.section-questions{
      margin: 0 0 50px 10px;
      li{
        margin: 20px 0;
        .num{
          display: inline;
        }

        .question-content{
          display: inline;
        }

        .result{
          margin-left: 10px;
        }

        .answers{
          margin-left: 10px;
        }
      }
    }

  }
}
