.page-question-records{
  table{
    thead{
      th{
        background: #E4E4E4;
      }
      .th-record-check{
        width: 5%;
      }
      .th-one{
        width: 15%;
      }
      .th-two{
        width: 50%;
      }
      .th-three{
        width: 8%;
      }
      .th-four{
        width: 7%;
      }
      .th-five{
        width: 15%;
      }

    }

    tbody{
      tr:nth-of-type(even) {
        background-color: #f5f5f5;
      }
    }
  }

  .record-batch{
    .checkbox{
      display: inline-block;
      margin-right: 20px;
    }
  }

}

.page-question-flaws, .page-question-favs{
  table{
    thead{
      th{
        background: #E4E4E4;
      }
      .th-check{
        width: 3%;
      }
      .th-one{
        width: 15%;
      }
      .th-two{
        width: 25%;
      }
      .th-three{
        width: 20%;
      }
      .th-four{
        width: 20%;
      }
      .th-five{
        width: 7%;
      }

      .th-six{
        width: 10%;
      }
    }

    tbody{
      tr:nth-of-type(even) {
        background-color: #f5f5f5;
      }
    }
  }

  .flaw-batch{
    .checkbox{
      display: inline-block;
      margin-right: 20px;
    }
  }
}


.page-question-do-form, .page-question-random{
  .question{
    background: #f5f5f5;
    padding: 50px;
    border-radius: 5px;

    .question-fav{
      @include clearfix;
      .bucketerize{
        float: right;
      }
    }

    .question-title{
      font-size: 16px;
    }

    .question-options{
      margin-top: 30px;
    }

    .question-submit{
      margin-top: 30px;
    }

    .question-result-info{
      height: 30px;
    }

  }
}
