.page-courses-mine{
  .tab-content{
    margin-top: 20px;
  }
}

.one, .page-course-show{
  .course{
    height: 248px;
    margin-bottom: 30px;
  }
  .cover{
    width: 440px;
    height: 248px;
    position: absolute;
    *{
      max-width: 440px;
      max-height: 248px;
      margin: auto;
    }
  }
  .course-right{
    padding-left: 440px;
    height: 100%;
    width: 100%;
  }
  .info{
    padding: 0 20px;
    position: relative;
    border: solid 1px #CACACA;
    height: 100%;
    width: 100%;
  }
  .bottom{
    position: absolute;
    bottom: 0px;
    width: 660px;
  }
  .progress-info{
    position: relative;
    padding-right: 140px;
    width: 100%;
  }
  .learn{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .share_and_fav{
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .share{
    margin-right: 20px;
  }
}
.ul-list{
  li{
    padding: 5px 10px;
  }
  .ul-list-head{
    background-color: #E4E4E4;
  }
}
