.cell-qa-question
  .media.no-answer
    .media-left
      .answers-count
        0
        %br
        无回答
    .media-body
      .media-heading
        %a{href: 'javascript:;'} 作为刚进银行的基层员工，该如何规划职业生涯呢？
      .intro
        %a.pull-left{href: 'javascript:;'} 微观经济学：1-8 影响供给的因素
        .pull-left.ml30.text-muted 2015-10-21 14:23

  .media.has-answer
    .media-left
      .answers-count
        3
        %br
        个回答
    .media-body
      .media-heading
        %a{href: 'javascript:;'} 宏观经济学中关于经济周期中金融摩擦有什么前沿论文？
      .intro
        %a.pull-left{href: 'javascript:;'} 宏观经济学：4-4 经济周期
        .pull-left.ml30.text-muted 2015-10-06 22:05
        .pull-right
          %a.answers-toggle{href: "javascript:;"}
            .closed
              %span.glyphicon.glyphicon-chevron-down
              展开回答
            .opened
              %span.glyphicon.glyphicon-chevron-up
              收起回答
        .clearfix

      .answers
        .media.answer
          .media-body
            .media-heading
              %a{href: 'javascript:;'}
                %span.glyphicon.glyphicon-user
              %a{href: 'javascript:;'}
                寒杨

            .content
              先说一点文献不在于读前沿，而是在于理解脉络，没有理解脉络读再多也没有用的。高手（当然不是我）可以很快理解文章的贡献，几十秒可以就可以总结下来；如果瞎读不但浪费时间也没法把握文章精髓。题主可以关注这么几个人
              %br

              %ol
                %li Pablo Kurlat，他网站上有讲义，写的蛮好的，正是入门时候需要的读物。
                %li Mark Gertler & Nobuhiro Kiyotaki
                %li Pablo Kurlat，他网站上有讲义，写的蛮好的，正是入门时候需要的读物。
                %li Pablo Kurlat，他网站上有讲义，写的蛮好的，正是入门时候需要的读物。

              %br
              当然我必须说想要完全了解他们的思想并产生自己的贡献需要经年的努力和积累，祝题主好运，也祝我好运 =。=

            .meta
              .pull-left.text-muted 2015-10-16 11:33
              %a.pull-left.ml30{href: 'javascript:;'}
                %span.glyphicon.glyphicon-thumbs-up
                有帮助
              .clearfix

        .media.answer
          .media-body
            .media-heading
              %a{href: 'javascript:;'}
                %span.glyphicon.glyphicon-user
              %a{href: 'javascript:;'}
                汪倩

            .content
              关于金融摩擦有几篇经典：

              %br

              Bernanke （1999）：The Financial Accelerator in a Quantitative Business Cycle Framework. Jstore上有。

            .meta
              .pull-left.text-muted 2015-10-16 11:33
              %a.pull-left.ml30{href: 'javascript:;'}
                %span.glyphicon.glyphicon-thumbs-up
                有帮助
              .clearfix

        .media.answer
          .media-body
            .media-heading
              %a{href: 'javascript:;'}
                %span.glyphicon.glyphicon-user
              %a{href: 'javascript:;'}
                乔玮

            .content
              非常赞同 @寒杨 的答案！那个syllabus 理论脉络很清晰，另外补充两篇，(试图)解释09年的金融危机在宏观波动中的作用和政策评估的文章。

              %p

              Del Negro, Eggerson, Ferrero, Kiyotaki
              %br
              the great escape
              %br
              Jermann and Quadrini的那篇AER

              %p

              还有我个人觉得特别有前景的方向
              石寿永和另一个作者的 Endogenously procyclical liquidity, capital reallocation, and q

            .meta
              .pull-left.text-muted 2015-10-16 11:33
              %a.pull-left.ml30.up{href: 'javascript:;'}
                %span.glyphicon.glyphicon-thumbs-up
                有帮助
              .clearfix
