:ruby
  bread_data = [
    [ :net, @net.name, url_for([:manage, @net]) ],
    [ :points, '查看所有知识点', url_for([:manage, @net, :points]) ],
    [ :point, @point.name, url_for([:manage, @point]) ]
  ]

.page-side.col-pad-1
.page-main.col-pad-10
  = bread bread_data do
    .file
      .file-box
        %span 把要上传的文件拖拽到这里，或者
        %a.select-file.btn.btn-rounded.btn-bdb-info.btn-mini{:href => 'javascript:;', :data => FilePartUpload.get_dom_data}
          %i.fa.fa-upload
          %span 选择要上传的文件

        .row
          .col-desk-7
            .page-file-uploader
              .progress-item{:style => 'display:none;'}
                .icon
                .name DH MHD.rar
                .stat
                  .bar-container
                    .bar
                  .desc
                    %span.percent 24%
                    %span , 剩余时间
                    %span.remaining-time 00:05:59
                .completed
                  %i.fa.fa-check
                  %span 上传完成

              .upload-list

      .desc
        %strong 正在为知识点
        %strong
          %a{:href => url_for([:manage, @point])}= @point.name
        %strong 上传文件

      .ops
        %a.submit.btn.btn-rounded.btn-bdb-fresh.disabled{:href => 'javascript:;', :data => {:url => url_for([:manage, @point, :files])}}
          %span 添加这些文件

        %a.cancel.btn.btn-rounded.btn-bdb{:href => url_for([:manage, @point]), :data => {:toggle => ['open', 'close']}}
          %span 取消
