.page-header
  %h1
    编辑题目

.nav.nav-tabs
  %li.icon
    %a{href: '/bank/manage/test_questions'}
      %i.glyphicon.glyphicon-th-list
      %span 列表
  %li.icon.active
    %a{href: 'javascript:;'}
      %i.glyphicon.glyphicon-pencil
      修改

= render "form"
