= simple_form_for [:bank, :manage, @course, @chapter] do |f|
  .form-inputs
    = f.input :title
    = f.input :desc, as: :text
  
  %br
  .form-actions
    %button.btn.btn-primary
      %i.glyphicon.glyphicon-ok{type: 'submit'}
      保存
    %span.extra_buttons
      %a.btn.btn-default{type: 'button', href: url_for([:bank, :manage, @chapter.course])}
        %i.glyphicon.glyphicon-remove
        取消
