.page-header
  %h3
    %a{href: url_for([:bank, :manage, :courses])} 课程编排
    %span /
    %a{href: url_for([:bank, :manage, @chapter])}= @chapter.course.title
    %span /
    %a{href: url_for([:bank, :manage, @chapter])}= @chapter.title
    %span /
    %span 修改

= render "form"
