- page_title @document.title

:ruby
  @net = @document.net
  bread_data = [
    [ :net, @net.name, url_for([:old, :manage, @net]) ],
    [ :documents, '查看所有文档', url_for([:old, :manage, @net, :documents]) ]
  ]

.page-side.col-pad-1
.page-main.col-pad-10
  = bread bread_data do
    .document
      .row
        .col-pad-9
          .page.editor{:data => {:url => url_for([:old, :manage, @document]), :method => :put}}
            .title-editor
              %input{:value => @document.title, :placeholder => '文档标题'}
            .content-editor
              %textarea= @document.content

        .col-pad-3
          .side{:data => {:'fixtop-offset' => 30}}
            .info 
              %strong> 你正在对一篇文档进行编辑修改操作。
              %span> 当你修改完毕，记得
              %span> 点击 “保存” 按钮来保存你的工作。
            .ops
              %a.save.btn.btn-rounded.btn-bdb-fresh{:href => 'javascript:;'}
                %i.fa.fa-check
                %span 保存修改结果
              %span 或者
              %a.cancel{:href => url_for([:old, :manage, @document])}
                %span 取消编辑并返回
