.page-home
  .col-pad-4.col-pad-pull-7
    %h2.cell 选择一项操作 … 
    .ops
      %a.new{:href => '/knowledge_nets/new'}
        %i.fa.fa-plus
        %span 新建知识网络

  .col-pad-6.col-pad-push-3
    %h2.cell 目前已创建以下知识网络 …
    = render_cell :knowledge_net, :list