.page-header
  %h3
    编辑题目

.nav.nav-tabs
  %li.icon
    %a{href: bank_manage_test_questions_path}
      %i.glyphicon.glyphicon-th-list
      %span 列表
  %li.icon.active
    %a{href: 'javascript:;'}
      %i.glyphicon.glyphicon-pencil
      修改

.tab-content
  = render "form"
