.page-header
  %h3 组卷

.nav.nav-tabs
  %li.icon
    %a{href: '/bank/manage/test_papers'}
      %i.glyphicon.glyphicon-th-list
      %span 列表
  %li.icon.active
    %a{href: "/bank/manage/test_papers/#{@test_paper.id}/edit"}
      %i.glyphicon.glyphicon-pencil
      %span 修改

.tab-content
  .page-edit-test_paper.form-test_paper
    = render "form"
