.page-header
  %h3 组卷

.nav.nav-tabs
  %li.icon
    %a{href: '/bank/manage/test_papers'}
      %i.glyphicon.glyphicon-th-list
      %span 列表
  %li.icon.active
    %a{href: '/bank/manage/test_papers/new'}
      %i.glyphicon.glyphicon-plus
      %span 新增

.tab-content
  .form-test_paper{data: {search_bank_manage_test_questions_url: search_bank_manage_test_questions_path, preview_bank_manage_test_papers_url: preview_bank_manage_test_papers_path, bank_manage_test_papers_url: bank_manage_test_papers_path}}
    = render "form"
