= simple_form_for [:bank, :manage, @course] do |f|
  .form-inputs
    = f.input :title
    = f.input :desc, as: :text

    = f.input :cover, as: :hidden
    .form-group.optional
      %label.optional.control-label 封面
      .cover_preview
        - if @course.cover.blank?
          %img#img_course_cover.img-responsive{src: 'https://placeholdit.imgix.net/~text?txtsize=33&txt=%E6%9C%AA%E4%B8%8A%E4%BC%A0%E5%9B%BE%E7%89%87&w=350&h=350'}
        - else
          %img#img_course_cover.img-responsive{src: (@course.cover)}
      .cover_process

      .cover_action
        %a.btn-upload.btn.btn-info.clearfix{href: 'javascript:;', data: FilePartUpload.get_dom_data} 上传封面
  
  %br
  .form-actions
    %button.btn.btn-primary
      %i.glyphicon.glyphicon-ok{type: 'submit'}
      保存
    %span.extra_buttons
      %a.btn.btn-default{type: 'button', href: url_for([:bank, :manage, :courses])}
        %i.glyphicon.glyphicon-remove
        取消
