.page-header
  %h3 增加课程

.nav.nav-tabs
  %li.icon
    %a{href: '/bank/manage/courses'}
      %i.glyphicon.glyphicon-th-list
      %span 列表
  %li.icon.active
    %a{href: '/bank/manage/courses/new'}
      %i.glyphicon.glyphicon-plus
      %span 新增

= render "form"
