body.bank-auth {
  background-color: #F5FAFE;

  .ui.segment {
    box-shadow: none !important;
  }

  .auth-bank-sign-in-page {
    .head {
      font-size: 16px;
      margin-bottom: 2rem;
    }
  }
}