.courses-page {
  padding-bottom: 3em;

  .top-cover {
    height: 14em;
    position: relative;
    margin-bottom: 1em;
    background-size: cover;
    background-position: center center;
    background-color: #4E4E4E;

    color: white;
    .ui.header {
      color: white;
      margin-top: 1em;
    }
    .description {
      font-size: 16px;
    }
  }

  .cards-bg {
    // background-color: #E6E6E6;
    // padding: 1em;
  }

  .card {
    border-radius: 0 !important;
    box-shadow: 1px 2px 5px #ccc !important;
    .image {
      height: 150px;
      position: relative;
      overflow: hidden;
      .ig {
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        background-size: cover;
        background-position: center center;
        -webkit-filter: blur(0) grayscale(0);
        filter: blur(0) grayscale(0);
      }
      .btnoverlay {
        transition: opacity ease .3s;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        background-color: rgba(black, 0.6);
        text-align: center;
        .button {
          margin-right: 0;
          margin-top: 3em;
          pointer-events: none;
        }
      }
    }
    .content {
      border-top:0 none !important;

      .header {
        // font-size: 16px !important;
      }
    }

    &:hover {
      .image .ig {
        -webkit-filter: blur(5px) grayscale(0.7);
        filter: blur(5px) grayscale(0.7);
      }
      .image .btnoverlay {
        opacity: 1;
      }
    }
  }

  .pagination-bar {
    margin-top: 2em;
    @include clearfix;
    text-align: center;
  }
}


.course-show-page {
  // $bgc: #2185D0;
  $bgc: #2A70E8;

  .c-head {
    background-color: lighten($bgc, 10%);
    // background-color: rgba($bgc, 0.7);

    .c-info {
      background-color: #FFF;
      padding: 1em;
      @include clearfix;

      $w: 24em;
      $h: $w / 16 * 10;

      $w1: 16em;
      .image {
        width: $w;
        height: $h;
        background-size: cover;
        background-position: center center;
        float: left;
      }

      .detail {
        margin-left: $w + 2em;
        margin-right: $w1 + 2em;
        max-height: 11em;
        .ui.header {
          font-weight: normal !important;
        }
        .description {
          font-size: 16px;
          color: $desc-text-color;
        }
      }

      .publisher {
        margin-left: $w + 2em;
        margin-right: $w1 + 2em;
        margin-top: 2em;
        color: rgba(black, 0.4);
        .instructor {
          font-size: 16px;
          margin-right: 1em;
        }
        .published_at {
          font-size: 16px;
        }
      }

      .ops {
        float: right;
        width: $w1;
        height: $h;
        text-align: center;
        background-color: rgba($bgc, 0.05);
        .start {
          width: 160px;
          margin-top: 3em;
          margin-right: 0;
        }
        .fav {
          margin-top: 1em;
          margin-right: 0;
          .label {
            width: 70px;
            text-align: center;
            display: block;
            line-height: 1.5em;
          }
          .button {
            width: 90px;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
  .c-body {
    .contents {
      .ui.header {
        font-size: 1.5rem;
        font-weight: normal;
        // margin-left: 10px;
      }
    }
  }
}

.ware-show-page {
  position: absolute;
  top:0;left:0;right:0;bottom:0;

  .ware-show-comments {
    position: absolute;
    top:0;bottom:0;right:0;width:320px;
    background-color: #FFF;

    transition: right ease .3s;
    .clist {
      transition: opacity ease .3s;
    }

    &.close {
      right:14px - 320px;
      .clist {
        opacity: 0;
      }
    }

    .comments-toggle {
      position: absolute;
      top:0.5em;left:-30px;
      width:30px;height:30px;line-height: 30px;
      text-align: center;
      background-color: rgba(black, 0.1);
      border-radius: 3px 0 0 3px;
      font-size: 18px;
      color: $text-color;
      transition: background-color ease .3s;
      i {margin-right: 0;}
      &:hover {
        background-color: #fff;
      }

    }
  }
}