.attributes-panel {
  .item {
    padding: 1em 0;
    border-bottom: solid 1px #ddd;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0 none;
    }

    .name-label {
      display: inline-block;
      vertical-align: top;
      width: 46%;
      position: relative;
      padding-left: 30px;

      i.icon {
        position: absolute;
        left:0;
        top:1px;
        margin-right: 0;
      }
    }
    .value-label {
      display: inline-block;
      vertical-align: top;
      width: 52%;
      position: relative;

      a {
        &:hover {
          border-bottom: dotted 1px #555;
        }
      }
    }
  }
}