:ruby

  nav_config = [
    [url_for([:old, :manage, :nets]),  '管理知识网络', 'fa-sitemap'],
    [url_for([:old, :manage, :users]), '管理用户', 'fa-user'],
    [url_for([:old, :sample, :nets]),  '教学统计(SAMPLE)', 'fa-bar-chart-o']
  ]

.container
  .row
    .page-nav.home.col-pad-2
      %a.home{:href => '/', :data => {:toggle => true}}
        %i.fa.fa-home
        %span 首页
    .page-nav.col-pad-10
      - path = request.path_info
      - nav_config.each do |c|
        - url, name, icon = c
        - active_klass = ( path == url ? 'active' : '' )

        %a{:href => url, :class => active_klass, :data => {:toggle => true}}
          %i.fa{:class => icon}
          %span= name

      - if @user
        .auth-info
          %span.name= @user.name
          %a{href: account_sign_out_path, data: { method: :delete }}
            %i.fa.fa-sign-out
            %span 用户登出
