:ruby
  path = request.path_info
  k1 = path == "/"                ? 'active' : ''
  k2 = path == "/knowledge_nets"  ? 'active' : ''
  k3 = path == "/plans"           ? 'active' : ''

.container
  .row
    .col-pad-12
      .page-nav
        %a.home{:href => '/', :class => k1}
          %i.fa.fa-home
          %span 首页

        %a.nets{:href => '/knowledge_nets', :class => k2}
          %i.fa.fa-tree
          %span 知识网络

        %a.plans{:href => '/plans', :class => k3}
          %i.fa.fa-list-ul
          %span 教学计划