:ruby
  nav_config = [
    ['/manage/nets',  '管理知识网络', 'fa-sitemap'],
    ['/manage/users', '管理用户', 'fa-user'],
  ]

.container
  .row
    .page-nav.home.col-pad-2
      %a.home{:href => '/'}
        %i.fa.fa-home
        %span 首页
    .page-nav.col-pad-10
      - path = request.path_info
      - nav_config.each do |c|
        - url, name, icon = c
        - active_klass = ( path == url ? 'active' : '' )

        %a{:href => url, :class => active_klass}
          %i.fa{:class => icon}
          %span= name

      - if @user
        .auth-info
          = @user.name
          %a{href: "/account/sign_out", data: { method: :delete }}
            %i.fa.fa-sign-out
            %span 用户登出