:ruby
  nav_config = [
    ['/knowledge_nets', '知识网络', 'fa-tree'],
    ['/plans',          '教学计划', 'fa-list-ul'],
  ]

.container
  .row
    .col-pad-12
      .page-nav
        - path = request.path_info
        - nav_config.each do |c|
          - url, name, icon = c
          - active_klass = ( path == url ? 'active' : '' )

          %a{:href => url, :class => active_klass}
            %i.fa{:class => icon}
            %span= name