.versions-list
  .title 版本清单

  - @vers.each do |ver|
    - url = url_for([:old, :manage, @document, :versions])
    - url = "#{url}/#{ver.version}"
    - klass = (ver.version == @current_version.version) ? 'current' : ''

    .ver{:class => klass}
      %span.name
        %strong= ver.last_editor.name
      %span.time
        %a{:href => url}
          %span= ver.updated_at.to_s(:short1)
