- page_title @document.title

:ruby
  @net = @document.net
  bread_data = [
    [ :net, @net.name, url_for([:manage, @net]) ],
    [ :documents, '查看所有文档', url_for([:manage, @net, :documents]) ]
  ]

.page-side.col-pad-1
.page-main.col-pad-10
  = bread bread_data do
    .document
      .row
        .col-pad-9
          .editor
            .page
              .title= @document.title
              .content= @document.content

        .col-pad-3
          .side
            .info 
              %strong
                %span 你可以在这里撰写文档，
                %span 点击“保存”按钮
                %span 来保存你的工作。
            .ops
              %a.btn.btn-rounded.btn-bdb-fresh{:href => 'javascript:;'}
                %span 保　存
              %a.btn.btn-rounded.btn-bdb{:href => url_for([:manage, @net]), :data => {:toggle => ['open', 'close']}}
                %span 取　消