:ruby
  bread_data = [
    [ :net, @net.name, url_for([:manage, @net]) ]
  ]

.page-side.col-pad-1
.page-main.col-pad-10
  = bread bread_data do
    .documents
      .title 查看所有文档
      = render_cell :document, :grid, @documents
