:ruby
  bread_data = [
    [ :net, @net.name, url_for([:manage, @net]) ]
  ]

.page-main.col-pad-10.col-pad-offset-1
  = bread bread_data do
    .documents
      .header
        .title 查看所有文档
        %a.btn.btn-rounded.btn-bdb.btn-small{:href => url_for([:new, :manage, @net, :document]), :data => {:toggle => ['open', 'close']}}
          %i.fa.fa-pencil
          %span= I18n.t('views.new.document')

      = render_cell :document, :grid, @documents
