:ruby
  bread_data = [
    [ :net, @net.name, url_for([:manage, @net]) ],
    [ :documents, '查看所有文档', url_for([:manage, @net, :documents]) ]
  ]

.page-side.col-pad-1
.page-main.col-pad-10
  = bread bread_data do
    .document
      .row
        .col-pad-9
          .page.editor{:data => {:url => url_for([:manage, @net, :documents]), :method => :post}}
            .title-editor
              %input{:value => @document.title, :placeholder => '文档标题'}
            .content-editor
              %textarea= @document.content

        .col-pad-3
          .side{:data => {:'fixtop-offset' => 30}}
            .info
              %strong 你正在创建一篇新的文档
            .info 
              %span 你可以在这里快速撰写简单的文档，
              %span 点击 “保存” 按钮来保存你的工作。
            .ops
              %a.save.btn.btn-rounded.btn-bdb-fresh{:href => 'javascript:;'}
                %i.fa.fa-check
                %span 确定创建

              %span 或者
              %a.cancel{:href => url_for([:manage, @net]), :data => {:toggle => ['open', 'close']}}
                %span 按这里取消并返回