.page-courses
  = quick_filter_bar do |b|
    - b.group :direction, text: '方向' do |g|
      - g.add 'a', text: '基础理论'
      - g.add 'b', text: '创业金融'
      - g.add 'c', text: '财富管理'
      - g.add 'd', text: '企业理财'
      - g.add 'e', text: '互联网金融'
      - g.add 'f', text: '资产证券'

    - b.group :job, text: '职务' do |g|
      - g.add 'a', text: '投资理财'
      - g.add 'b', text: '税务管理'
      - g.add 'd', text: '上市融资'
      - g.add 'e', text: '经济法律'
      - g.add 'f', text: '其他'

    - b.group :type, text: '类型' do |g|
      - g.add 'a', text: '交互课程'
      - g.add 'b', text: '视频播放'
      - g.add 'c', text: '图文展示'


  %ul.courses
    - @courses.each do |course|
      %li.course
        %a{:href => (bank_course_path(course))}
          .cover
            %img{:src => (course.cover.blank? ? 'http://ph.4ye.me/400/200' : course.cover)}
          .title= course.title
          .desc= course.desc
