.page-courses-mine
  %ul.nav.nav-tabs
    %li.active{role: 'presentation'}
      %a#learning_courses-tab{href: '#learning_courses', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'learning_courses', expanded: 'true'}} 正在学习
    %li{role: 'presentation'}
      %a#fav_courses-tab{href: '#fav_courses', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'fav_courses'}} 课程收藏
    %li{role: 'presentation'}
      %a#completed_courses-tab{href: '#completed_courses', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'completed_courses'}} 已经学完

  
  .tab-content
    #learning_courses.tab-pane.fade.in.active{aria: {controls: 'learning_courses-tab'}}
      = render_cell :bank_course, :one, courses: @fav_courses
      
    #fav_courses.tab-pane.fade{aria: {controls: 'fav_courses-tab'}}
      = render_cell :bank_course, :four, courses: @fav_courses

    #completed_courses.tab-pane.fade{aria: {controls: 'completed_courses-tab'}}
      = render_cell :bank_course, :four, courses: @fav_courses
