.page-course-show
  = render_cell :bank_course, :one_detail, course: @course, show_share_and_fav: true

  .content.col-md-8
    = render_cell :bank_course, :content, course: @course

  .sidebar.col-md-4
    %h3.page-header 课程简介
    .sidebar-content
      %p
        新疆农信在本次项目规划中将大的ECIF系统作为统一的客户管理平台，核心和信贷系统中的客户信息都同步更新至平台上，保证客户信息在不同系统间是唯一且最新的，真正成为以客户为中心，为客户营销做好准备。

      %p
        作为整个客户信息系统的一部分，核心系统通过柜面业务为银行整体信息系统提供重要的渠道，直接面向顾客，第一时间了解顾客第一手材料，并及时动态调整客户变动的信息，为客户信息分析及重点营销提供重要资料。

      %p
        本次项目中核心系统中的客户信息管理定位于对公、对私客户基本资料的建立与维护，并提供相应客户信息及账户信息的查询，全面的客户辅助信息及客户关系等管理功能由单独的ECIF系统完成，达到专业系统做专业任务的目的。
