.page-course-show
  .head
    .text
      .title= @course.title
      .desc= @course.desc
    .action
      %a.btn.btn-default.btn-lg{:href => "javascript:;"} 加入课程
      %a.hidden.btn.btn-default.btn-lg{:href => "javascript:;"} 退出课程
      = render :partial => "fav_course", :locals => {:course => @course}
