.bucketerize{data: {rel: "bucketerize", bucketerize: {mode: 'standard', resource_type: 'KcCourses::Course', resource_id: course.id}}}
  .unhas
    %button.btn.btn-default 收藏
  .has
    %button.btn.btn-info 已收藏
