.page-header
  %h3 修改课程

.nav.nav-tabs
  %li.icon
    %a{href: bank_manage_courses_path}
      %i.glyphicon.glyphicon-th-list
      %span 列表
  %li.icon.active
    %a{href: edit_bank_manage_course_path(@course.id)}
      %i.glyphicon.glyphicon-pencil
      %span 修改
  %li.icon
    %a{href: bank_manage_course_path(@course.id), data: {method: 'delete', confirm: '你确定？'}}
      %i.glyphicon.glyphicon-trash
      %span 删除

.tab-content
  = render "form"
