- page_title '管理知识网络'

.col-pad-2
  %a.create-net.ui-toggle{:href => url_for([:new, :manage, :net])}
    %i.fa.fa-plus
    %span 新建知识网络

.col-pad-8
  %h2.cell 现有以下知识网络 …
  = render_cell :net, :grid