- page_title @net.name

.page-side.col-pad-2
  .nav
    .back
      %a{:href => url_for([:manage, :nets]), :data => {:toggle => true}}
        %i.fa.fa-arrow-left
        %span 退出

    - [:point, :document, :file, :plan].each do |model_name|
      = render_cell :net, :nav_items, @net, model_name

.page-main.col-pad-10
  %section.net
    .name= @net.name
    .desc= @net.desc

  - [:document, :file].each do |model_name|
    = render_cell :net, :model_section, @net, model_name