.col-pad-2
  .nav
    .back
      %a{:href => url_for([:manage, :nets])}
        %i.fa.fa-arrow-left
        %span 退出

    .items.points
      .count
        %a{:href => url_for([:manage, @net, :points])}
          知识点 #{@net.points.count}
      .new
        %a.btn.btn-rounded.btn-bdb.btn-small{:href => url_for([:new, :manage, @net, :point])}
          %i.fa.fa-plus
          %span 新建知识点

    .items.documents
      %i.icon.fa.fa-file-text
      .count
        %a{:href => 'javascript:;'}
          文档 0
      .new
        %a.btn.btn-rounded.btn-bdb.btn-small{:href => url_for([:new, :manage, @net, :point])}
          %i.fa.fa-pencil
          %span 新建文档

    .items.files
      %i.icon.fa.fa-paperclip
      .count
        %a{:href => 'javascript:;'}
          文件 0
      .new
        %a.btn.btn-rounded.btn-bdb.btn-small{:href => url_for([:new, :manage, @net, :point])}
          %i.fa.fa-upload
          %span 上传文件

    .items.plans
      %i.icon.fa.fa-list
      .count
        %a{:href => 'javascript:;'}
          教学计划 #{0}
      .new
        %a.btn.btn-rounded.btn-bdb.btn-small{:href => url_for([:new, :manage, @net, :point])}
          %i.fa.fa-plus
          %span 创建教学计划

.col-pad-10
  .net
    .name= @net.name
    .desc= @net.desc