= simple_form_for [:bank, :manage, @chapter, @ware] do |f|
  .form-inputs
    = f.input :title
    = f.input :desc, as: :text
    = f.input :file_entity_id, as: :hidden
  
  %br
  .form-actions
    %button.btn.btn-primary.btn-submit{type: 'submit'}
      %i.glyphicon.glyphicon-ok
      %span 保存
    %span.extra_buttons
      %a.btn.btn-default{type: 'button', href: url_for([:bank, :manage, @ware.chapter])}
        %i.glyphicon.glyphicon-remove
        取消
