.cell-manage-points.list
  - if @points.blank?
    .point.blank
      .icon
      .name 没有了

  - else
    - @points.each do |point|
      .point
        :ruby
          bg = string_grid_color(point.id)
          bg1 = ApplicationHelper::ColorTransfer.darken(bg.to_s)

        .icon{:style => "border-color:#{bg}"}
        %a.name{:href => url_for([:old, :manage, point]), :data => {:toggle => ['open', 'close']}}
          %span= point.name
