= react_component 'TestPaperFiller', :submit_url => "/e/test_question/test_papers/#{@test_paper.id}/test_paper_results", :test_paper => @test_paper.react_data, :current_user_id => current_user.id.to_s
