.page-questions-mine
  %ul.nav.nav-tabs
    %li.active{role: 'presentation'}
      %a#study_records-tab{href: '#study_records', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'study_records', expanded: 'true'}} 做题记录
    %li{role: 'presentation'}
      %a#wrong_questions-tab{href: '#wrong_questions', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'wrong_questions'}} 错题本
    %li{role: 'presentation'}
      %a#fav_questions-tab{href: '#fav_questions', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'fav_questions'}} 题目收藏

  .tab-content
    #study_records.tab-pane.fade.in.active{aria: {controls: 'study_records-tab'}}
      = render_cell :bank_question, :record #, questions: @study_records
      
    #wrong_questions.tab-pane.fade{aria: {controls: 'wrong_questions-tab'}}
      = render_cell :bank_question, :wrong #, questions: @study_records

    #fav_questions.tab-pane.fade{aria: {controls: 'fav_questions-tab'}}
      = render_cell :bank_question, :fav #, questions: @study_records
