body.auth {
  background: #333;
  color: rgba(#fff, 0.8);

  h2.cell {
    color: $black-30;
    text-shadow: 0 1px black;
  }
}

body.auth {
  .sign-in {
    .sign-header {
      font-weight: bold;
      font-size: 64px;
      line-height: 100px;
      color:white;
      text-shadow: 1px 1px 2px black;
      text-align: center;
      margin-bottom: 50px;
    }

    .sign-in-form {
      position: relative;
      background-color: rgba(black, 0.1);
      padding: 40px;
      border-radius: $border-radius-default;
      .form-group:last-child {
        margin-bottom: 0;
        margin-top: 30px;
        @include clearfix;
        .btn:first-child {float: left;}
        .btn:last-child {float: right;}
      }

      input[type=email], input[type=password], input[type=text] {
        box-shadow:none;
        border-radius:$border-radius-default;
        border:0 none;
        &:focus {
          background-color: $area-dawn;
        }
      }

      .btn:active {
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px $black-90;
      }

      .auth-msg {
        $c: lighten($area-hot, 10%);
        background-color: $c;
        color:white;
        border-radius:$border-radius-default;
        position: absolute;
        left:100%;
        width:60%;
        text-align: center;
        padding:15px;
        margin-left: 30px;
        bottom:32px;
        font-size: 16px;
        &:before {
          content:"";
          border:solid 10px transparent;
          border-right:solid 10px $c;
          position: absolute;
          left:-20px;
        }

        &.success {
          background-color: $area-success;
          &:before {
            border-right-color: $area-success;
          }
        }
      }
    }

    .intro {
      font-size: 16px;
      line-height: 24px;
      hr {
        border:0 none;
        border-bottom: dashed 1px $black-40;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .version {
        font-weight: bold;
        color: $area-dawn;
      }
      a {color:lighten($area-info, 20%);}
    }
  }
}