$bdr: $border-radius-default;

body { 
  .pagination {
    margin-top:0;
    // margin-bottom:30px;
    margin-bottom: 0;
    height:30px;
    overflow:visible;

    ul {
      border-radius: $bdr;
      box-shadow: 0 1px 2px rgba(black, 0.07);
      margin:0;
      padding:0;
      display:inline-block;

      & > li {
        float: left;
        line-height:20px;
        font-size:14px;
        list-style: none;

        & > a, & > span {
          background-color:white;
          border-color:#ddd;
          border-image:none;
          border-style:solid;
          border-width:1px 1px 1px 0;
          float:left;
          line-height:20px;
          padding:4px 12px;
          text-decoration:none;
          color: $black-80;

          &:hover, &:focus {
            background-color:#f5f5f5;
          }
        }

        &:first-child {
          [rel=prev]:before {
            content: "\f053";
            font-family: FontAwesome;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right:5px;
            font-size: 12px;
            line-height: 12px;
          }
        }

        &:last-child {
          [rel=next]:after {
            content: "\f054";
            font-family: FontAwesome;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-left:5px;
            font-size: 12px;
            line-height: 12px;
          }
        }

        &:first-child {
          & > a, & > span {
            border-radius: $bdr 0 0 $bdr;
            border-left-width:1px;
          }
        }

        &:last-child {
          & > a, & > span {
            border-radius: 0 $bdr $bdr 0;
          }
        }

        &.active {
          & > a, & > span {
            color: $black-30;
            cursor:default;
            background-color:#f5f5f5;
          }
        }
      }
    }
  }
}