$point-color : darken(#FFB43B, 10%);

.page-manage-nets-index {
  a.create-net {
    display: block;
    text-align: center;
    max-width:100px;

    i {
      display: block;
      font-size:24px;
      color: $area-fresh;
      background: mix($area-fresh, white, 5%);
      height:48px;line-height: 48px;
      margin-bottom:10px;
      border-radius:$border-radius-default;
      @include piece-shadow;
    }
    span {
      display: block;
      text-decoration: underline;
    }

    &:hover {
      text-decoration:none;
    }
  }
}

.cell-manage-nets.grid .net {
  @include col(1/3);
  border:0 none;
  padding-bottom: 0;
  margin-bottom: $grid-gap;

  .box {
    @include link-box;
    @include piece;
    padding:15px;height:210px;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: $area-dawn;
    }

    .name {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
      a { color: $text-color-default; }
    }
    .desc {
      color: $text-quiet;
      margin-bottom: 5px;
    }
    .updated-at {
      color: $text-quiet;
      font-size: 12px;
    }

    .stat {
      position: absolute;
      bottom: 15px;
      font-size: 12px;
      color: $text-quiet;
      .points {
        padding-left:21px;
        &:before {
          content: "";
          position: absolute;
          height:16px;width:16px;
          border:solid 4px $point-color;
          @include border-box;
          border-radius:20px;
          left:0;
        }
      }
    }
  }
}

@mixin -net-title-font {
  font-size: 24px;
  font-weight: bold;
}

.page-net-form {
  @include piece;
  padding:50px;

  .input.net_name, .input.net_desc {
    input {
      border:0 none;
      border-bottom:dotted 1px $black-40;
      box-shadow: none;
      padding:10px 0;
    }
  }

  .input.net_name input {
    @include -net-title-font;
    height: 58px; line-height: 38px;
  }

  .form-group.submit {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .form-group .error {
    color: $area-danger;
    font-size: 12px;
  }
}

.page-manage-nets-show {
  .nav {
    @include piece;
    padding: 20px;

    .back {
      font-size: 16px;
    }

    .items {
      position: relative;
      margin-top: 20px;
      padding-top: 40px;
      border-top:dashed 1px $black-20;

      .count {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
      }
      .new {
        a.btn {display:block;}
      }
    }

    .items.points {
      &:before {
        content: "";
        position: absolute;
        width:20px;height:20px;
        @include border-box;
        border:solid 4px $point-color;
        border-radius:40px;
        top:11px;
      }
    }

    .items.documents, .items.files, .items.plans {
      i.icon {
        position: absolute;
        top:11px;
        font-size:20px;
        color:$area-night;
      }
    }

    .items.documents i.icon {color:$area-info;}
  }

  .net {
    @include piece;
    padding: 20px 30px;
    margin-bottom: 20px;

    .name {
      @include -net-title-font;
      height: 36px; line-height: 36px;
    }
    .desc {
      color: $text-quiet;
    }
  }

  .net-files {
    @include piece;
    padding:20px 30px;
    margin-bottom: 20px;
    .grid {
      margin-bottom: 20px;
    }
  }

  .net-documents {
    @include piece;
    padding:20px 30px;
    margin-bottom: 20px;
  }

  section .header {
    margin-bottom: 20px;
    @include clearfix;
    a.title {
      font-size: 18px;
      color: #900;
      height:26px;line-height: 26px;
      float: left;
      margin-right: 20px;
    }
    a.btn {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}