$point-color : darken(#FFB43B, 10%);

.page-manage-nets-index {
  a.create-net {
    display: block;
    text-align: center;
    max-width:100px;

    i {
      display: block;
      font-size:24px;
      color: $area-fresh;
      background: mix($area-fresh, white, 5%);
      height:48px;line-height: 48px;
      margin-bottom:10px;
      border-radius:$border-radius-default;
      @include piece-shadow;
    }
    span {
      display: block;
      text-decoration: underline;
    }

    &:hover {
      text-decoration:none;
    }
  }
}

.cell-manage-nets.grid .net {
  @include col(1/3);
  border:0 none;
  padding-bottom: 0;
  margin-bottom: $grid-gap;

  .box {
    @include link-box;
    @include piece;
    padding:15px;height:210px;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: $area-dawn;
    }

    .name {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
      a { color: $text-color-default; }
    }
    .desc {
      color: $text-quiet;
      margin-bottom: 5px;
    }
    .updated-at {
      color: $text-quiet;
      font-size: 12px;
    }

    .stat {
      position: absolute;
      bottom: 15px;
      left:15px;right:15px;
      font-size: 12px;
      color: $text-quiet;

      .it {
        float: left;
        width:50%;
        @include border-box;

        .count {height:16px;line-height:16px;}
        .text {height:16px;line-height:16px;}
      }

      .it.points {
        $w:32px;
        padding-left:$w + 10px;
        &:before {
          content: "";
          position: absolute;
          height:$w;width:$w;
          border:solid 6px $point-color;
          @include border-box;
          border-radius:20px;
          left:0;
          opacity: 0.5;
        }
      }

      .it.documents {
        i {
          color:$area-info;
          font-size: 32px;
          margin-right:10px;
          line-height:32px;
          float:left;
          opacity: 0.5;
        }
      }
    }
  }
}

@mixin -net-title-font {
  font-size: 24px;
  font-weight: bold;
}

.page-net-form {
  @include piece;
  padding:50px;

  .input.net_name, .input.net_desc {
    input {
      border:0 none;
      border-bottom:dotted 1px $black-40;
      box-shadow: none;
      padding:10px 0;
    }
  }

  .input.net_name input {
    @include -net-title-font;
    height: 58px; line-height: 38px;
  }

  .form-group.submit {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .form-group .error {
    color: $area-danger;
    font-size: 12px;
  }
}

.page-manage-nets-show {
  .sections {

    section {

      .graph-show {
        margin-top: 30px;
      }

      a.title {
        color: #900;
      }

      .nodata {
        color: $text-quiet;
      }

      .show-more {
        margin-top: 20px;
      }
    }

    section.net {
      .desc {
        color: $text-quiet;
      }
    }
  }
}