.cell-manage-points.grid {
  $grid-gap:10px;

  @include clearfix;
  margin:0 $grid-gap/-2;
  margin-bottom: 20px;

  .point {
    @include col(1/6);
    padding-bottom: percentage(1/6);

    .box {
      position: absolute;
      top:0;bottom:$grid-gap;
      left:$grid-gap/2;right:$grid-gap/2;
      color: white;
      border-radius: $border-radius-default;
      overflow: hidden;

      text-shadow: 1px 1px 2px rgba(black, 0.2);
      @include piece-shadow;

      // @include transition(opacity .1s ease);

      &:hover {
        text-decoration: none;
        opacity: 0.9;
      }

      .name {
        height:40px;line-height:40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
      .desc {
        position: absolute;
        top:40px + 10px;left:10px;right:10px;bottom:10px;
        font-size: 12px;
        opacity: 0.8;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}

.page-manage-points-new ,
.page-manage-points-edit
{
  .point-form {
    padding:20px;
    .form-group:last-child {
      margin-bottom: 0;
    }
  }
}



.page-manage-points-show {
  .point {
    position: relative;

    .ops {
      position: absolute;
      top:20px;
      right:0;
      .edit {
        border-bottom: $border-dash;
        width:120px;
      }
    }

    .info {
      padding:20px;
      border-bottom: solid 1px #E7E7E7;
      padding-bottom: 40px;

      .name {margin-top: 0;margin-bottom: 20px;}
      .desc {}
    }

    .parents, .children{
      padding:20px;
      min-height: 100px;
      .title {margin-top:0;margin-bottom: 20px;}
      .grid {margin-bottom: 0;}
    }

    .parents {
      border-bottom: solid 1px #E7E7E7;
    }
  }
}

.page-manage-points-index {
  .points {
    padding:20px;
    .header {
      @include section_header_with_button;
    }
  }
}