@import "bootstrap-sprockets";
@import "bootstrap";
@import "bucketerize";
@import "quick_filter_bar";

body {
  background-color: #fafafa;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";
  color: #444;
}

.page-bank-manage-test-questions{
  table{
    thead{
      th{
        background: #E4E4E4;
      }
      .th-check{
        width: 3%;
      }
      .th-one{
        width: 15%;
      }
      .th-two{
        width: 25%;
      }
      .th-three{
        width: 20%;
      }
      .th-four{
        width: 20%;
      }
      .th-five{
        width: 7%;
      }

      .th-six{
        width: 10%;
      }
    }

    tbody{
      tr:nth-of-type(even) {
        background-color: #f5f5f5;
      }
    }
  }

  .flaw-batch{
    .checkbox{
      display: inline-block;
      margin-right: 20px;
    }
  }
}


.page-bank-manage-test-questions-new-single-choice{
  label[for='question_choices']{
    input[type='radio']{
      line-height: 34px;
      height: 34px;
      margin-top: 0px;
    }
  }
}

.page-bank-manage-test-questions-new-multi-choice{
  label[for='question_choices']{
    input[type='checkbox']{
      line-height: 34px;
      height: 34px;
      margin-top: 0px;
    }
  }
}

.page-manage{
  .sidebar-nav{
    /*rails admin*/
    /*padding: 9px 9px 9px 9px;*/
    /*position: fixed;*/
    /*width: 14%;*/
    /*[>overflow-y: scroll;<]*/
    /*top: 50px;*/
    /*bottom: 0;*/
    /*background: #eaf0f1;*/

    /*from http://getbootstrap.com/examples/dashboard/*/
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;

    /*.nav{*/
    /*margin-right: -21px;*/
    /*margin-bottom: 20px;*/
    /*margin-left: -20px;*/
    /*}*/
  }

  .content{
    padding-top: 60px;
  }
}

.form-horizontal{
  .form-group{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.page-manage{
  .simple_form, .progress{
    max-width: 600px;
  }
  .tab-content{
    padding-top: 10px;
  }
  .page-header{
    margin-top: 0;
  }
  .nav.nav-tabs{
    a{
      color: #000;
    }
  }
  .table{
    .pagination{
      margin: 0 1rem 0 0;
    }
  }
  
  .cover_process, .cover_action{
    margin: 20px 0;
  }
}
