// *= require mockup/semantic

@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
  }
}

$text-color: rgba(black, 0.87);
$desc-text-color: rgba(black, 0.66);

@import 'mockup/layout';
@import 'mockup/ui';
@import 'mockup/widgets';

body {
  background-color: #F8F8F8;
}

body,

.ui.menu,

.ui.cards > .card > .content > .header, 
.ui.card > .content > .header,

.ui.header,

.ui.button,
{
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑" !important;
}

.ui.cards > .card > :first-child, 
.ui.card > :first-child,

.ui.segment,
{
  border-radius: 0 !important;
}

.ui.segment.noshadow {
  box-shadow: none;
  border-color: #CACACA;
}