// $font-family-cn: "宋体";

$link-color:#2c5d8d;
$link-hover-color:#2c5d8d;
$border-radius-default:3px;

@import "lily/css/lily.scss";

$lightgray: lighten($black-10, 5%);
$border-dash: dashed 1px $black-30;

@mixin piece-shadow {
  box-shadow: 0 1px 2px rgba(black, 0.07);
}

@mixin piece {
  background-color: #FFF;
  border-radius: $border-radius-default;
  @include piece-shadow;
}

@import "auth";
@import "graph";
@import "net";
@import "document";

html {
  overflow-y:scroll;
}

body {
  background: url(layout/body-bg.gif);

  .page-header {
    background-color: #323232;
    font-size: 16px;

    .page-nav {
      height: 50px;
      line-height: 50px;

      a {
        color: #fff;
        display: block;
        float: left;
        padding: 0 30px 0 0;
        opacity: 0.6;
        font-size: 14px;

        i {
          margin-right: 5px;
        }

        &:hover, &.active{
          text-decoration:none;
          opacity: 1;
        }
      }

      .auth-info {
        float: right;
      }
    }

    .page-nav.home {
      a {
        width:100%;
        padding:0;
        &:hover {
          background-color: inherit;
        }
      }
    }
  }

  .page-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h2.cell {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;
    color: $black-50;
    text-shadow: 0 1px #fff;
  }
}

// ------------------

.page-bread-pieces {
  margin-left:10px;
  margin-right: 10px;
  .bread {
    border-radius:$border-radius-default $border-radius-default 0 0 ;
    border:solid 1px #E6E5E5;
    padding:10px 30px 20px 30px;
    margin-bottom: -10px;
    background-color: #F9F9F9;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;

    &.net .link{
      font-size: 24px;line-height: 36px;
      font-weight: bold;
    }
  }
}


// ------------------

.cell-dandelion-list .model {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: $border-dash;
  &:last-child {
    border-bottom: 0 none;
  }

  .fields {
    .field {
      margin-bottom: 10px;

      &.-time {
        color: $text-quiet;
      }

      &._id {display:none;}
    }
  }

  .ops {
    margin-top: 30px;
    @include clearfix;
  }
}

// ----------------

.cell-dandelion-list.plans .model.plan {
  $left : 30px;

  .fields .field {
    margin-left: $left;

    &.name {
      margin-left: 0;
      @include clearfix;
      font-size: 16px;

      span {
        float: left;
      }
      i {
        float: left;
        width:$left;
        line-height:22px;
      }
    }

    &.belongs_to_net {
      i {
        color:$area-forest;
        margin-right: 5px;
      }
    }

    &.desc {
      color:$text-quiet;
    }
  }

  .ops {
    margin-left: $left;
  }
}