.page-home
  .col-pad-4.col-pad-pull-8
    %h2.cell 选择一项操作 … 
    .ops
      %a.new.btn.btn-rounded.btn-bdb-fresh.btn-large{:href => '/knowledge_nets/new'}
        %i.fa.fa-plus
        %span 新建知识网络

  .col-pad-8.col-pad-push-4
    %h2.cell 目前已创建以下知识网络 …
    = render_cell :knowledge_net, :list