.navbar
  = link_to "首页", "/"
  >
  教学计划列表

.page-model-list
  .action
    = link_to "添加教学计划", "/plans/new", :class => %W|new|

  - locals = {:items => @plans}
  = render :partial => "/plan_store_partials/item_list", :locals => locals
