:ruby
  bread_data = [
    [ :net, @net.name, url_for([:manage, @net]) ],
    [ :files, '查看所有文件', url_for([:manage, @net, :files]) ]
  ]

.page-side.col-pad-1
.page-main.col-pad-10
  = bread bread_data do
    .file
      .file-box
        %span 把要上传的文件拖拽到这里，或者
        %a.select-file.btn.btn-rounded.btn-bdb-info.btn-mini{:href => 'javascript:;', :data => {:url => '/upload'}}
          %i.fa.fa-upload
          %span 选择要上传的文件

        .row
          .col-desk-7
            .page-file-uploader
              .progress-item{:style => 'display:none;'}
                .icon
                .name DH MHD.rar
                .stat
                  .bar-container
                    .bar
                  .desc 
                    %span.percent 24%
                    %span , 剩余时间
                    %span.remaining-time 00:05:59
                .completed
                  %i.fa.fa-check
                  %span 上传完成

              .upload-list

      .desc
        .strong 你添加的文件将共享给以下用户角色：
        .span - 能够编辑维护当前知识网络的用户
        .span - 能够浏览当前知识网络教学内容的用户

      .ops
        %a.submit.btn.btn-rounded.btn-bdb-fresh.disabled{:href => 'javascript:;'}
          %span 添加这些文件

        %a.cancel.btn.btn-rounded.btn-bdb{:href => url_for([:manage, @net]), :data => {:toggle => ['open', 'close']}}
          %span 取消