= simple_form_for [:bank, :manage, @chapter, @ware], wrapper: :kc_courses do |f|
  .form-inputs
    = f.input :title
    = f.input :desc, as: :text
  
  .form-actions
    = f.button :submit

%a{href: url_for([:bank, :manage, @ware.chapter])} 返回

