.container-fluid
  .page-ware-preview
    .ware-tilte 课件的标题
    .content
      
      // - file_entity = FilePartUpload::FileEntity.find("569374a66675730686010000")
      // - xml_url = FilePartUpload::Engine.routes.url_helpers.file_entity_path(file_entity, "xml")
      // .ckplayer{:id => "file_entity_#{file_entity.id.to_s}", :data => {:xml_url => xml_url, :url => file_entity.transcode_url}}
      
      // - file_entity = FilePartUpload::FileEntity.find("56937a996675731a85000000")
      
      - file_entity = FilePartUpload::FileEntity.find("5694b6956675733d64030000")
      - images = file_entity.transcode_urls("jpg")
      .image_slider{:data => {:page_width => file_entity.meta["page_width"], :page_height => file_entity.meta["page_height"]}}
        #image_slider_container        
          .slides{:u => "slides"}
            - images.each do |image|
              %div.slide
                %img{:u => "image", :src => image}
        .footer
          .page-info
        
    .ware-desc 课件的描述课件的描述课件的描述课件的描述课件的描述课件的描述课件的描述课件的描述课件的描述课件的描述课件的描述
      