%nav.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{:href => bank_root_path} Kc-Finance

    %ul.nav.navbar-nav
      %li
        %a{:href => bank_courses_path} 课程中心
      %li
        %a{:href => mine_bank_courses_path} 我的课程
      %li
        %a{:href => bank_my_test_questions_path} 我的题库
      %li
        %a{:href => bank_my_questions_path} 我的问答
      %li
        %a{:href => bank_my_notes_path} 我的笔记

    %form.navbar-form.navbar-left{:role => "search", action: search_bank_courses_path}
      .form-group
        %input.form-control{type: "text", value: @q, name: 'q'}
      %button.btn.btn-default{:type => "submit"} 搜索

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown", :role => "button", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
          = current_user.name
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => bank_notifications_path} 通知中心
          %li
            %a{:href => "#"} 个人设置
          %li
            %a{:href => account_sign_out_path, :data => {:method => :delete}} 退出登录
