%nav.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{:href => "/bank"} Kc-Finance

    %ul.nav.navbar-nav
      %li
        %a{:href => "/bank/courses"} 课程中心
      %li
        %a{:href => "/bank/courses/mine"} 我的课程
      %li
        %a{:href => "/bank/my_test_questions"} 我的题库
      %li
        %a{:href => "/bank/my_questions"} 我的问答
      %li
        %a{:href => "/bank/my_notes"} 我的笔记

    %form.navbar-form.navbar-left{:role => "search"}
      .form-group
        %input.form-control{:type => "text"}
      %button.btn.btn-default{:type => "submit"} 搜索

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown", :role => "button", :"aria-haspopup" => "true", :"aria-expanded" => "false"}
          = current_user.name
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "/bank/notifications"} 通知中心
          %li
            %a{:href => "#"} 个人设置
          %li
            %a{:href => "/account/sign_out", :data => {:method => :delete}} 退出登录
