%ul.nav.nav-tabs
  %li.active{role: 'presentation'}
    %a#course-chapters-tab{href: '#course-chapters', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'course-chapters', expanded: 'true'}} 章节目录
  %li{role: 'presentation'}
    %a#related-data-tab{href: '#related-data', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'related-data'}} 相关资料
  %li{role: 'presentation'}
    %a#related-questions-tab{href: '#related-questions', role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'related-questions'}} 相关试题

.tab-content
  #course-chapters.tab-pane.fade.in.active{aria: {controls: 'course-chapters-tab'}}
    = render_cell :bank_course, :chapters, course: @course
    
  #related-data.tab-pane.fade{aria: {controls: 'related-data-tab'}}
    = render_cell :bank_course, :data, course: @course

  #related-questions.tab-pane.fade{aria: {controls: 'related-questions-tab'}}
    = render_cell :bank_course, :related, courses: @course
