%ul.course-data.ul-list
  %li.data.ul-list-head
    .data-name.col-md-8 名称
    .data-size.col-md-2 大小
    .data-action.col-md-2 操作
    .clearfix

  - @course.course_attachments.each do |attachment|
    - if fe = attachment.file_entity
      %li.ware.ul-list-item
        .ware-name.col-md-8
          %a{href: (FilePartUpload.get_mount_prefix + file_part_upload.file_entity_path(fe))}= fe.original
        .ware-name.col-md-2= FilePartUpload::Util.human_file_size(fe.file_size)
        .ware-action.col-md-2
          %a{href: (fe.download_url)} 下载
        .clearfix
