.four
  %ul.courses
    - @courses.each do |course|
      %li.course
        %a{:href => (bank_course_path(course))}
          .cover
            %img{:src => (course.cover.blank? ? 'http://ph.4ye.me/400/200' : course.cover)}
          .title= course.title
          .desc= course.desc
