%ul.course-related-tests.ul-list
  %li.test.ul-list-head
    .test-title.col-md-10 试卷标题
    .test-action.col-md-2 操作
    .clearfix

  - @related_test_paters.each do |test_paper|
    %li.test.ul-list-item
      .test-title.col-md-10= test_paper.title
      .test-action.col-md-2
        %a{href: "/bank/test_papers/#{test_paper.id}/test_paper_results/new"} 开始测试
      .clearfix
